.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-group-1 {
  width: 540px;
  min-height: 617px;
  height: auto;
  margin: 100px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-1 .u-list-1 {
  width: 570px;
  background-image: none;
  margin: -644px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 645px;
  --gap: 10px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(-13deg, rgba(204, 211, 219, 0.75), rgba(119, 170, 217, 0.75)), linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover, cover;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 10px 19px 20px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 172px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 11px 142px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 17px 73px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(-13deg, rgba(204, 211, 219, 0.75), rgba(119, 170, 217, 0.75)), linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover, cover;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 10px 19px 20px;
}

.u-section-1 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 172px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 11px 142px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 17px 73px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(-13deg, rgba(204, 211, 219, 0.75), rgba(119, 170, 217, 0.75)), linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover, cover;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 10px 19px 20px;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 172px 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 11px 142px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 17px 73px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1367px;
  }

  .u-section-1 .u-group-1 {
    width: 685px;
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 72px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 72px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 72px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 680px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/photo-1576613109753-27804de2cba8.jpeg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-form-1 {
  height: 483px;
  background-image: none;
  width: 728px;
  margin: 115px auto 60px;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.125rem;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
    margin-top: 155px;
    margin-bottom: -72px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 69px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-form-send-message,
.u-form-send-error {
  display: none !important;
}
}
